.pagination {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  font: var(--primary-sm);
}

.pagination-content {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
  align-items: center;
}

.pagination-content span {
  font-size: 0.75rem;
}

.pagination-content button {
  background-color: var(--white);
  padding: 8px;
  border-radius: var(--md-border);
  color: var(--text-primary);
  border: 1px solid var(--border);
  transition: border-color 0.3s;
}

.pagination-content button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.pagination-content button:disabled:hover {
  border-color: var(--border);
}

@media (hover: hover) {
  .pagination-content button:hover {
    border-color: var(--brand);
  }
}
