.pokemon-page {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.pokemon-page-breadcrumb {
  display: flex;
  gap: var(--spacing-sm);
  font: var(--primary-sm);
  align-items: center;
}

.pokemon-page-breadcrumb img {
  width: 12px;
  height: 12px;
}

.pokemon-image {
  background-color: var(--background-2);
  place-content: center;
  border-radius: var(--xl-border);
  border: 1px solid var(--border);
  flex: 1;
  position: relative;
}

.pokemon-image img {
  margin: 0 auto;
}

.shiny-button {
  padding: 8px 12px;
  font-weight: 500;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    scale 0.2s ease;
  border-radius: var(--md-border);
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid var(--border);
}

.pokemon-name {
  color: var(--text-primary);
}

.pokemon-name::first-letter {
  text-transform: uppercase;
}

.pokemon-page-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-xl);
  align-items: stretch;
}

.pokemon-top {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
}

.pokemon-page-breadcrumb button {
  transition: color 0.2s ease;
}

.id {
  color: var(--brand);
}

.generation {
  padding: 4px 8px;
  background-color: var(--background-2);
  border-radius: var(--md-border);
  font: var(--primary-sm);
}

.pokemon-page-content-right,
.pokemon-page-content-left {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  min-width: 0;
  height: 100%;
  justify-content: space-between;
}

.pokemon-description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.pokemon-description h1 {
  font: var(--primary-xl);
  font-size: 3rem;
  color: var(--text-primary);
}

.pokemon-description h1::first-letter {
  text-transform: uppercase;
}

.pokemon-types {
  display: flex;
  gap: var(--spacing-sm);
}

.pokemon-types span {
  padding: 4px 12px;
  border-radius: var(--lg-border);
  font: var(--primary-sm);
}

hr {
  border: none;
  border-top: 1px solid var(--hr);
  margin: 1rem 0;
}

.pokemon-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.data span {
  font: var(--primary-sm);
  font-weight: 500;
  font-size: 0.75rem;
}

.data span + span {
  color: var(--text-primary);
  font: var(--primary-md);
  font-weight: 500;
}

@media (max-width: 992px) {
  .pokemon-page-content {
    grid-template-columns: 1fr;
    gap: var(--spacing-xl);
  }

  .pokemon-page-content-right {
    order: -1;
  }
}

@media (hover: hover) {
  .shiny-button:hover {
    scale: 1.04;
  }

  .pokemon-page-breadcrumb button:hover {
    color: var(--brand);
  }
}
