.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.title {
  font: var(--primary-xl);
  color: var(--text-primary);
}

html {
  background-color: var(--background);
}

body {
  min-height: 100vh;
}

@media (max-width: 1300px) {
  .container {
    padding: 30px 25px;
  }
}
