.search {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 500px;
  width: 100%;
}

.search-selects {
  display: flex;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
}

.search-selects label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1 1 200px;
  font: var(--primary-sm);
}

.search input {
  display: flex;
  background-image: url('../../assets/search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding: 8px 12px 8px 35px;
  background-size: 15px;
  border-radius: var(--md-border);
  background-color: var(--background-2);
  border: 1px solid var(--border);
  font: var(--primary-sm);
}

.search-selects select {
  padding: 8px 12px 8px 12px;
  background-size: 15px;
  border-radius: var(--md-border);
  background-color: var(--background-2);
  border: 1px solid var(--border);
  font: var(--primary-sm);
  width: 100%;
}
